{% extends 'index.html' %}
{% block all_tasks %}
    <div class="mt-4">
        {% if tasks %}
            <div class="row row-cols-1 row-cols-md-4 g-2 mb-4">
                {% for task in tasks %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <a href="{% url 'task_detail' task.id %}" class="text-decoration-none">
                            {% if not task.completed %}
                                <h5 class="card-title">{{task.title}}</h5>
                            {% else %}
                                <h5 class="card-title text-decoration-line-through">{{task.title}}</h5>
                            {% endif %}
                        </a>
                        <p class="card-text">{{ task.description |  truncatechars:30 }} {% if value|length > 30 %}...{% endif %}</p>
                        <p>Due date: {{task.due_date}}</p>
                        <p>Priority: {{task.priority}}</p>
                        <p>Category: {{task.category}}</p>
                        {% if task.completed %}
                        <div class="bg-success px-2 py-1" style="display: inline-block;">
                            <span class="font-medium text-white">Completed</span>
                        </div>
                        {% else %}
                        <div class="bg-danger px-2 py-1" style="display: inline-block;">
                            <span class="font-medium text-white">Pending</span>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <h5>No task available</h5>
        {% endif %}
    </div>
{% endblock %}

