
<h2 style="color: #0066cc;">Task Created Successfully - {{ task.title }}</h2>

<p>We are pleased to inform you that your recent task, "{{ task.title }}," has been created successfully. This accomplishment marks a significant step forward in our collaborative efforts.</p>

<p><strong>Details of your newly created task:</strong></p>
<ul>
    <li><strong>Task Title: </strong> {{ task.title }}</li>
    <li><strong>Date Created: </strong> {{task.created_date}}</li>
    <li><strong>Due Date: </strong>{{task.due_date}}</li>
    <li><strong>Due Time: </strong>{{task.due_time}}</li>
</ul>

