{% extends 'index.html' %}
{% block content %}
<div class="form-group w-50 container">
  <br>
  <p class="text-center h2">Login</p>
  <br>
  <form method="post" class="">
    {% csrf_token %}
    <div class="form-group">
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <br>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{% endblock %}