{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center my-5">
    <div>
        <div style="border-bottom: 3px solid #007bff; display: inline-block;" class="mb-3">
            <h3 class="text-primary-emphasis"><span class="text-primary">Hello {{user.first_name}}</span>, Welcome to Arcane</h3>
        </div>
        <h6>Don't let your thoughts fly away</h6>
    </div>
    {% if request.user.is_authenticated %}
        {% include 'task_nav.html' %}
    {% endif %}
</div>
{% endblock %}